.App {
  text-align: center;
}
/* Header for the app */
.App-header {
  background-color: #9b489b;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Game{
  margin: 20px;
  display: flex;
  justify-content: center;
}
/* For the play button that is clicked to start the game */
button {
  background-color: #935fa7;
  border: 2px solid #533B4D;
  border-radius: 3px;
  display: inline-block;
  color: #FFF;
  font-size: 14pt;
  padding: 7px 28px;
  text-decoration: none;
  margin: 5px;
  transition: all 0.5s;
  max-width: 160px;
  min-width: 160px;
}
/* Play button fill colour changes to light purple when hovered over */ 
button:hover {
  background-color: #B594b6;
}
/* Game board */
.Board{
  display: flex;
}
/* Game columns */
.Column {

}
/* Holes are the places that the player-pieces go in */
.Hole {
  padding: 8px;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid #494949;
}
/* Animation for when a player makes a move */
.Hole div {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 16px;
  top: -400px;
  transition: transform 0.5s;
}
/* Colour and transform for the red player-pieces */
.Red {
  background-color: #FF0022;
  transform: translateY(400px);
}
/* Colour and transform for the yellow player-pieces */
.Yellow {
  background-color: #f9dc5c;
  transform: translateY(400px);
}
/* The win message is kept blank until someone wins */
.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
}
/* The win message appears when a player gets four player-pieces in a line */
.appear { 
  opacity: 1;
  font-size: 20pt;
}
